*{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-header{
    padding-bottom: 10px;
    padding-top: 10px;
    position:relative;
    text-align: center;
    align-self: center;
    background-color: #7c3aed;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.main-header .top-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
}

.main-header .top-nav a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 10px ;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;

}

h2 {
    size: 20px;
    padding: 20px 0 0 0;
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    color: #7c3aed;
}

/* Container starts here */

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2%;
}

.container p {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

label , input {
    padding: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #7c3aed;
}

label{
    font-size: 1.5rem;
    font-weight: 700;
}

input {
    border-radius: 10px;
    color: #7c3aed;
    border-color: #7c3aed;
    padding: 10px;
    height: 20px;
    width: 60%;
}

#submit-btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 15px 10px 15px;
    background-color: #7c3aed;
    color: aliceblue;
    font-weight: 500;
}

.output-div {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    height: fit-content;
    border-color: #7c3aed;
    color: #7c3aed;
    font-weight: 700;
}