*{
    font-family: 'Playfair Display SC', serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.main-header{
    padding-bottom: 1%;
    padding-top: 1%;
    position:relative;
    text-align: center;
    align-self: center;
    background-color: #7c3aed;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.main-header .top-nav {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    
}

.main-header .top-nav a{
    /* background-color: aliceblue; */
    color: aliceblue; 
    padding: 1%;
    text-align: center;
    margin-right: 1%;
    margin-left: 1%;
    text-decoration: none;

}

.container {
    padding: 20px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.quiz-form p{
    padding: 10px;
    color: #7c3aed;
    font-size: large;
    font-weight: 600;
}

.quiz-form label{
    display: block;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    background-color: #7c3aed;
    color: aliceblue;
    font-weight: 700;
    border-color: #7c3aed;
}

.output-div {
    margin: 2%;
    border: solid;
    border-radius: 10px;
    width: fit-content;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-color: #7c3aed;
}